body {
    background-image: url("amazonia.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/*Professor, eu não entendo o porque o conteúdo não fica centralizado, sendo que eu apliquei os comandos pra centralizar. Me desculpe.*/

#container {
    width: 80vw;
    padding: 19vh 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

#container>div {
    width: 70%;
    padding: 5vh 3vw;
    margin-bottom: 4vh;
    background-color: rgb(255, 252, 252, 0.70);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: space-evenly;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}